# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Local environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.log.*

# MacOS
.DS_Store

# Temporary files
*.swp
*.tmp

# VSCode
.vscode/

